*{
    margin: 0px;
    padding: 0px;
}
.box{
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 50%;
    min-height: 80px;
    background-color: rgb(166, 226, 25);
}
.box2{
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 50%;
    min-height: 80px;
    background-color: rgb(166, 226, 25);
}
.hidden{
display: none;
}
.groupEvents, .boxes{
    width: 80%;
    min-height: 100px;
    display: -webkit-flex; /* Safari */
    display: flex;
}
.clickBox{
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: auto 10px;
    width: 10%;
    min-height: 80px;
    background-color: green;
}
.hoverBox{
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: auto 10px;
    width: 10%;
    min-height: 80px;
    background-color: darkcyan;
}
.clickKey{
    padding:5px;
    margin: auto 10px;
    width: 10%;
    min-height: 80px;
    background-color: orange;
}
.mousePosition{
    position: relative;
    text-align: center;
    padding: 5px;
    margin: auto 10px;
    width: 10%;
    min-height: 80px;
    background-color: purple;
}
.tooljs{
    display: inline;
    position: absolute;
    top: 0;
    background-color: #f1f1f1;
}
.tooltip{
    display: inline-block;
    position: fixed;
    background-color: #f1f1f1;
    
}
.multi{
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: auto 10px;
    width: 10%;
    min-height: 80px;
    background-color: brown;
}

.hid {
    opacity: 0;
    transition: opacity 400ms;
  }
.sho {
    opacity: 1;
  }
.animate{
    margin-left: 700px;
    transition: 400ms;

}